In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
from google.colab import files
data=files.upload()

Saving cars.csv to cars (1).csv

In [29]:
#converting raw data into dataframe

df=pd.read_csv('cars.csv')


#  df=pd.read_csv('cars.csv',index_col= ['car_name'])

In [30]:
import matplotlib.pyplot as plt
df

,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type,rating,starting_price,ending_price,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp
0,Maruti Alto K10,51,Petrol,998,3,5.0,Automatic,27.0,Hatchback,4.5,399000,583000,89.0,3500,65.71,5500
1,Maruti Brezza,86,Petrol,1462,4,5.0,Automatic,48.0,SUV,4.5,799000,1396000,136.8,4400,101.65,6000
2,Mahindra Thar,242,Diesel,2184,4,4.0,Automatic,57.0,SUV,4.5,1353000,1603000,300.0,2800,130.00,3750
3,Mahindra XUV700,313,Diesel,2198,4,7.0,Automatic,60.0,SUV,4.5,1318000,2458000,450.0,2800,182.38,3500
4,Mahindra Scorpio-N,107,Diesel,2198,4,7.0,Automatic,57.0,SUV,4.5,1199000,2390000,400.0,2750,172.45,3500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,Mercedes-Benz AMG A 45 S,35,Petrol,1991,4,5.0,Automatic,0.0,Hatchback,4.5,659000,999000,500.0,5250,415.71,6750
199,BMW 3 Series Gran Limousine,3,Petrol,1998,4,5.0,Automatic,59.0,Sedan,4.5,1041000,1041000,400.0,4400,254.79,5000
200,MG Hector Plus,2,Diesel,1956,4,7.0,Manual,60.0,SUV,4.5,1615000,2075000,350.0,2500,167.67,3750
201,Audi RS Q8,9,Petrol,3998,8,5.0,Automatic,85.0,SUV,3.5,21700000,21700000,800.0,4500,591.39,6000
202,Maruti Alto 800 tour,4,Petrol,796,3,5.0,Manual,35.0,Hatchback,4.5,391000,397000,69.0,3500,47.33,6000

In [ ]:
df.shape  # row and column

(203, 16)

In [ ]:
df.info() # summary of dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   car_name             203 non-null    object
 1   reviews_count        203 non-null    int64
 2   fuel_type            203 non-null    object
 3   engine_displacement  203 non-null    int64
 4   no_cylinder          203 non-null    int64
 5   seating_capacity     202 non-null    float64
 6   transmission_type    203 non-null    object
 7   fuel_tank_capacity   203 non-null    float64
 8   body_type            203 non-null    object
 9   rating               203 non-null    float64
 10  starting_price       203 non-null    int64
 11  ending_price         203 non-null    int64
 12  max_torque_nm        203 non-null    float64
 13  max_torque_rpm       203 non-null    int64
 14  max_power_bhp        203 non-null    float64
 15  max_power_rp         203 non-null    int64
dtypes: float64(5), int64(7), object(4)
memory usage: 25.5+ KB

In [ ]:
df.describe() #statistical report of data frame

,reviews_count,engine_displacement,no_cylinder,seating_capacity,fuel_tank_capacity,rating,starting_price,ending_price,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp
count,203.000000,203.000000,203.000000,202.000000,203.000000,203.000000,2.030000e+02,2.030000e+02,203.000000,203.000000,203.000000,203.000000
mean,118.684729,2305.921182,4.709360,5.014851,46.143842,4.433498,9.443640e+06,1.112005e+07,402.804828,3346.507389,266.576995,4790.147783
std,314.331318,1493.837786,2.538664,1.161050,28.904207,0.280136,1.357035e+07,1.551746e+07,237.116638,1594.960077,193.474807,1990.876835
min,1.000000,0.000000,0.000000,2.000000,0.000000,3.000000,3.390000e+05,3.610000e+05,16.100000,0.000000,10.800000,0.000000
25%,5.000000,1339.500000,4.000000,5.000000,33.500000,4.500000,9.455000e+05,1.407500e+06,201.000000,2500.000000,108.555000,3800.000000
50%,14.000000,1991.000000,4.000000,5.000000,50.000000,4.500000,4.312000e+06,4.600000e+06,360.000000,3500.000000,187.740000,5500.000000
75%,83.000000,2996.000000,6.000000,5.000000,66.000000,4.500000,1.160000e+07,1.575000e+07,590.000000,4500.000000,384.870000,6000.000000
max,2392.000000,6750.000000,12.000000,8.000000,100.000000,5.000000,7.060000e+07,9.000000e+07,1020.000000,7000.000000,788.520000,8500.000000

In [ ]:
df.head(4) #first 4 index value

,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type,rating,starting_price,ending_price,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp
0,Maruti Alto K10,51,Petrol,998,3,5.0,Automatic,27.0,Hatchback,4.5,399000,583000,89.0,3500,65.71,5500
1,Maruti Brezza,86,Petrol,1462,4,5.0,Automatic,48.0,SUV,4.5,799000,1396000,136.8,4400,101.65,6000
2,Mahindra Thar,242,Diesel,2184,4,4.0,Automatic,57.0,SUV,4.5,1353000,1603000,300.0,2800,130.00,3750
3,Mahindra XUV700,313,Diesel,2198,4,7.0,Automatic,60.0,SUV,4.5,1318000,2458000,450.0,2800,182.38,3500

In [ ]:
df.tail(6)  #last 6 index value

,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type,rating,starting_price,ending_price,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp
197,Jeep Meridian,78,Diesel,1956,4,7.0,Automatic,60.0,SUV,4.5,1615000,2075000,350.0,2500,167.67,3750
198,Mercedes-Benz AMG A 45 S,35,Petrol,1991,4,5.0,Automatic,0.0,Hatchback,4.5,659000,999000,500.0,5250,415.71,6750
199,BMW 3 Series Gran Limousine,3,Petrol,1998,4,5.0,Automatic,59.0,Sedan,4.5,1041000,1041000,400.0,4400,254.79,5000
200,MG Hector Plus,2,Diesel,1956,4,7.0,Manual,60.0,SUV,4.5,1615000,2075000,350.0,2500,167.67,3750
201,Audi RS Q8,9,Petrol,3998,8,5.0,Automatic,85.0,SUV,3.5,21700000,21700000,800.0,4500,591.39,6000
202,Maruti Alto 800 tour,4,Petrol,796,3,5.0,Manual,35.0,Hatchback,4.5,391000,397000,69.0,3500,47.33,6000

In [ ]:
***************************************************************************************************************************************************************
***************************************************************************************************************************************************************

**accesing & indexing & sling----------**

In [ ]:
# accesing the column values
df['car_name']

0                  Maruti Alto K10
1                    Maruti Brezza
2                    Mahindra Thar
3                  Mahindra XUV700
4               Mahindra Scorpio-N
                  ...
198       Mercedes-Benz AMG A 45 S
199    BMW 3 Series Gran Limousine
200                 MG Hector Plus
201                     Audi RS Q8
202           Maruti Alto 800 tour
Name: car_name, Length: 203, dtype: object

In [ ]:
df[["car_name",'fuel_type']]

                        car_name fuel_type
0                Maruti Alto K10    Petrol
1                  Maruti Brezza    Petrol
2                  Mahindra Thar    Diesel
3                Mahindra XUV700    Diesel
4             Mahindra Scorpio-N    Diesel
..                           ...       ...
198     Mercedes-Benz AMG A 45 S    Petrol
199  BMW 3 Series Gran Limousine    Petrol
200               MG Hector Plus    Diesel
201                   Audi RS Q8    Petrol
202         Maruti Alto 800 tour    Petrol

[203 rows x 2 columns]

In [26]:
#error
df[4]
df=pd.read_csv('cars.csv',index_col= ['car_name'])
df['Mahindra Thar']
# we cant acces row in this method

reviews_count                242
fuel_type                 Diesel
engine_displacement         2184
no_cylinder                    4
seating_capacity             4.0
transmission_type      Automatic
fuel_tank_capacity          57.0
body_type                    SUV
rating                       4.5
starting_price           1353000
ending_price             1603000
max_torque_nm              300.0
max_torque_rpm              2800
max_power_bhp              130.0
max_power_rp                3750
Name: Mahindra Thar, dtype: object

In [27]:
df[2:4] #df[2:4] == df.iloc[2:4]

,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type,rating,starting_price,ending_price,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp
car_name,,,,,,,,,,,,,,,
Mahindra Thar,242,Diesel,2184,4,4.0,Automatic,57.0,SUV,4.5,1353000,1603000,300.0,2800,130.00,3750
Mahindra XUV700,313,Diesel,2198,4,7.0,Automatic,60.0,SUV,4.5,1318000,2458000,450.0,2800,182.38,3500

In [31]:
df.loc[4] #index the row value

car_name               Mahindra Scorpio-N
reviews_count                         107
fuel_type                          Diesel
engine_displacement                  2198
no_cylinder                             4
seating_capacity                      7.0
transmission_type               Automatic
fuel_tank_capacity                   57.0
body_type                             SUV
rating                                4.5
starting_price                    1199000
ending_price                      2390000
max_torque_nm                       400.0
max_torque_rpm                       2750
max_power_bhp                      172.45
max_power_rp                         3500
Name: 4, dtype: object

In [ ]:
df.iloc[4] #located the index value print the columns

car_name               Mahindra Scorpio-N
reviews_count                         107
fuel_type                          Diesel
engine_displacement                  2198
no_cylinder                             4
seating_capacity                      7.0
transmission_type               Automatic
fuel_tank_capacity                   57.0
body_type                             SUV
rating                                4.5
starting_price                    1199000
ending_price                      2390000
max_torque_nm                       400.0
max_torque_rpm                       2750
max_power_bhp                      172.45
max_power_rp                         3500
Name: 4, dtype: object

In [ ]:
df.iloc[0:4] #slicing with row value   ** iloc medhoe execute as (n,n-1)

,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type,rating,starting_price,ending_price,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp
0,Maruti Alto K10,51,Petrol,998,3,5.0,Automatic,27.0,Hatchback,4.5,399000,583000,89.0,3500,65.71,5500
1,Maruti Brezza,86,Petrol,1462,4,5.0,Automatic,48.0,SUV,4.5,799000,1396000,136.8,4400,101.65,6000
2,Mahindra Thar,242,Diesel,2184,4,4.0,Automatic,57.0,SUV,4.5,1353000,1603000,300.0,2800,130.00,3750
3,Mahindra XUV700,313,Diesel,2198,4,7.0,Automatic,60.0,SUV,4.5,1318000,2458000,450.0,2800,182.38,3500

In [ ]:
df.loc[0:4]  #slicing with row value   ** loc medhoe execute as (n,n)

,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type,rating,starting_price,ending_price,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp
0,Maruti Alto K10,51,Petrol,998,3,5.0,Automatic,27.0,Hatchback,4.5,399000,583000,89.0,3500,65.71,5500
1,Maruti Brezza,86,Petrol,1462,4,5.0,Automatic,48.0,SUV,4.5,799000,1396000,136.8,4400,101.65,6000
2,Mahindra Thar,242,Diesel,2184,4,4.0,Automatic,57.0,SUV,4.5,1353000,1603000,300.0,2800,130.00,3750
3,Mahindra XUV700,313,Diesel,2198,4,7.0,Automatic,60.0,SUV,4.5,1318000,2458000,450.0,2800,182.38,3500
4,Mahindra Scorpio-N,107,Diesel,2198,4,7.0,Automatic,57.0,SUV,4.5,1199000,2390000,400.0,2750,172.45,3500

In [ ]:
#slicing specified values usinf------loc[]
# we cant slicing column ["str","str","str"]
# if we want to acces slicing with column name
df.loc[1:4,1:5]

TypeError: ignored

In [ ]:
df.loc[1:4,"car_name","no_cylinder"]

,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder
1,Maruti Brezza,86,Petrol,1462,4
2,Mahindra Thar,242,Diesel,2184,4
3,Mahindra XUV700,313,Diesel,2198,4
4,Mahindra Scorpio-N,107,Diesel,2198,4

In [ ]:
df.loc[1:4,"car_name":"no_cylinder"]

,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder
1,Maruti Brezza,86,Petrol,1462,4
2,Mahindra Thar,242,Diesel,2184,4
3,Mahindra XUV700,313,Diesel,2198,4
4,Mahindra Scorpio-N,107,Diesel,2198,4

In [ ]:
df.loc[1:4,["car_name","no_cylinder"]]

             car_name  no_cylinder
1       Maruti Brezza            4
2       Mahindra Thar            4
3     Mahindra XUV700            4
4  Mahindra Scorpio-N            4

In [ ]:
df.loc[:,"car_name":"no_cylinder"] #slicing column

,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder
0,Maruti Alto K10,51,Petrol,998,3
1,Maruti Brezza,86,Petrol,1462,4
2,Mahindra Thar,242,Diesel,2184,4
3,Mahindra XUV700,313,Diesel,2198,4
4,Mahindra Scorpio-N,107,Diesel,2198,4
...,...,...,...,...,...
198,Mercedes-Benz AMG A 45 S,35,Petrol,1991,4
199,BMW 3 Series Gran Limousine,3,Petrol,1998,4
200,MG Hector Plus,2,Diesel,1956,4
201,Audi RS Q8,9,Petrol,3998,8
202,Maruti Alto 800 tour,4,Petrol,796,3

In [ ]:
#slicing specified values usinf------iloc[]
# we cant slicing with column name
# if we want to acces with index value
df.iloc[1:4,"car_name","no_cylinder"]

IndexingError: ignored

In [ ]:
df.iloc[1:4,0:5]

          car_name  reviews_count fuel_type  engine_displacement  no_cylinder
1    Maruti Brezza             86    Petrol                 1462            4
2    Mahindra Thar            242    Diesel                 2184            4
3  Mahindra XUV700            313    Diesel                 2198            4

In [ ]:
df.iloc[1:4,1:6] #indexing in row and soloumn

   reviews_count fuel_type  engine_displacement  no_cylinder  seating_capacity
1             86    Petrol                 1462            4               5.0
2            242    Diesel                 2184            4               4.0
3            313    Diesel                 2198            4               7.0

In [ ]:
**************************************************************************************************************************************************************
***************************************************************************************************************************************************************

In [ ]:
# null value as boolean
df.isnull()

In [34]:
# sum of null value
df.isnull().sum()

car_name               0
reviews_count          0
fuel_type              0
engine_displacement    0
no_cylinder            0
seating_capacity       1
transmission_type      0
fuel_tank_capacity     0
body_type              0
rating                 0
starting_price         0
ending_price           0
max_torque_nm          0
max_torque_rpm         0
max_power_bhp          0
max_power_rp           0
dtype: int64

In [38]:
# locate the null value where it is? .any(axis=1)

loc_null=df[df.isnull().any(axis=1)]
loc_null

,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type,rating,starting_price,ending_price,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp
143,Mclaren GT,1,Petrol,3994,8,NaN,Automatic,72.0,Coupe,4.5,45000000,45000000,630.0,0,611.51,0

In [40]:
# check ... null value or not

df.loc[143,'seating_capacity']

nan

In [41]:
# put value for null
df.fillna(9.0, inplace=True)
df.isnull().sum()

car_name               0
reviews_count          0
fuel_type              0
engine_displacement    0
no_cylinder            0
seating_capacity       0
transmission_type      0
fuel_tank_capacity     0
body_type              0
rating                 0
starting_price         0
ending_price           0
max_torque_nm          0
max_torque_rpm         0
max_power_bhp          0
max_power_rp           0
dtype: int64